{% extends 'base.html.twig' %}

{% block title %}Edit Mascota{% endblock %}

{% block body %}
{{parent()}}
<div class="container">
    <h1> <center> Edit Mascota </center> </h1>

    {{ include('mascota/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('mascota_index') }}">
    <button  class="btn btn-secondary">{{ button_label|default('Volver') }}</button>
    </a>

    {{ include('mascota/_delete_form.html.twig') }}
    </div>
{% endblock %}
