{% extends 'base.html.twig' %}

{% block title %}Mascota index{% endblock %}

{% block body %}
{{parent()}}

    <body>

    <!-- Jumbotron Header -->
<header ">
    <center>
      <h1 class="display-3">Bienvenido a Mascotas!</h1>
      
      
 
    <div class="container">
            <a href="{{ path('mascota_new') }}">
            <button type="button" class="btn btn-primary">Ingrese los datos de su mascota</button>
            </a>
    </div>
    
    </center>
</header>
<div class="cover-container w-80 h-80 p-5">
<div style="text-align:center;">
    
   
    {% for mascotum in mascotas %}

  <div class="shadow-lg p-3 mb-5 bg-white rounded">
  <div class="card border-info" style="width: 28rem;">
  <img src="{{ vich_uploader_asset(mascotum, 'imageFile') }}" class="card-img-top" alt="{{ mascotum.name }}">
  <div class="card-body style="color:green"">
    <h1 class="card-title" style="color:#2E4053; text-transform: uppercase;";>{{ mascotum.name }} </h1>
    
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  </div>
   <div class="card-header">
    INFORMACIÓN
  </div>
  <ul class="list-group list-group-flush">
  
  <li class="list-group-item">
  Tipo: {{ mascotum.Type }}
  <br>
  Edad: {{ mascotum.age }}
  <br>
  <td>{{ mascotum.raza }}</td>
  
  </li>

  </ul>

  <div class="card-body"> 
  <---°OPCIONES°--->

  <br>
    
    <a href="{{ path('mascota_show', {'id': mascotum.id}) }}">
    <button type="button" class="btn btn-info">Mirar</button>
    </a>
    <a href="{{ path('mascota_edit', {'id': mascotum.id}) }}">
    <button type="button" class="btn btn-success">Editar</button>
    </a>

  </div>
</div>
</div>
            
        {% else %}
            <tr>
                <td colspan="6">Aún no has ingresado datos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    
    

  </div>
  

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}
