{% extends 'base.html.twig' %}

{% block title %}Mascota index{% endblock %}

{% block body %}
{{parent()}}

    <body>

    <!-- Jumbotron Header -->
<header ">
    <center>
      <h1 class="display-3">Bienvenido a Mascotas!</h1>

      <div>
      <img src="{{ asset('img/mascota/index.jpg')}}" class="d-block w-50" alt="...">
      </div>
     <bre>
    <div class="container">
            <a href="{{ path('mascota_new') }}">
            <button type="button" class="btn btn-primary">Ingrese los datos de su mascota</button>
            </a>
    </div>
    
    </center>
</header>


<div class="cover-container w-80 h-80 p-4">
<div style="text-align:center;">
    <div class="container">
    <div class="row justify-content-md-center">
        <div class="row">
            {% for mascotum in mascotas %}
                <div class="col-sm">   
                    <div class="card" style="width: 22rem;">
                        <div class="card-header p-2 mb-4 bg-success text-white">
                        
                        </div>
                        <img src="{{ vich_uploader_asset(mascotum, 'imageFile') }}" alt="{{ mascotum.name }}" height="200px">
                        <div class="card-body">
                        <DIV align="left">
                            <p class="card-text ">
                                Nombre: {{ mascotum.name }}<br>
                                Tipo: {{ mascotum.Type }} <br>
                                Edad: {{ mascotum.age }} <br>
                                Tamaño: {{ mascotum.raza }} <br>
                                Sexo: {{ mascotum.sexo }} <br>
                            </p>
                            </div>
                        <td>
                    
                    <a href="{{ path('mascota_show', {'id': mascotum.id}) }}">
                    <button type="button" class="btn btn-info">Mirar</button>
                    
                    </a>
                    <a href="{{ path('mascota_edit', {'id': mascotum.id}) }}">
                    <button type="button" class="btn btn-success">Editar</button>
                    </a>
                    
                </td>
                           
                        </div>
                    </div>
                </div>
            {% else %}
                
                <p>No ha registrado ninguna mascota</p>
                
            {% endfor %}
        </div>
    </div>    
    <br>
    
  </div>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}
