{% extends 'base.html.twig' %}

{% block title %}CobroAnf{% endblock %}

{% block body %}
    <h1>CobroAnf</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cobro_anf.id }}</td>
            </tr>
            <tr>
                <th>Comision</th>
                <td>{{ cobro_anf.comision }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cobro_anf_index') }}">back to list</a>

    <a href="{{ path('cobro_anf_edit', {'id': cobro_anf.id}) }}">edit</a>

    {{ include('cobro_anf/_delete_form.html.twig') }}
{% endblock %}
