<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Usuario{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap"> 
            <style>
            body{
                font-family: 'Roboto', sans-serif;
            }
            </style> 
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {{ include('user_nav.html.twig')}} 
        {% endblock %}

    <div class="container" style="margin-top:20px">
    <center>
    <img src="{{ asset('img/logo.jpeg')}}" class="d-block w-50">    
    </center>
    
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>


        {% block footer %}
            {{ include('user_footer.html.twig')}}
        {% endblock %}

        {% block javascripts %}
            <script src="{{asset('js/jquery-3.4.1.slim.min.js')}}">
            <script src="{{asset('js/bootstrap.min.js')}}">
        {% endblock %}
    </body>
</html>

