<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}PETS{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap"> 
        <style>
            body{
                background-color: #f4f4f4;
                font-family: 'Roboto', sans-serif;
            }
        </style> 
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
     
        {% block body %}
            {{ include('header.html.twig')}} 
        {% endblock %}

        {% block footer %}
            {{ include('footer.html.twig')}}
        {% endblock %}

        <script src="{{asset('js/jquery-3.4.1.slim.min.js')}}">
        <script src="{{asset('js/bootstrap.min.js')}}">
        {% block javascripts %}{% endblock %}
    </body>
</html>

