<div class="cover-container d-flex mx-auto flex-column" style="margin-top:17px">
  <div class="row navbar-transparent">
    <div class="col-sm">
      <nav class="navbar">
        <a href="{{path('home')}}">
          <img src="{{asset('img/logo.jpeg')}}" style="margin-left:25px" class="navbar-brand" width="90" height="60">
        </a>
      </nav>
    </div>
    <div class="col-sm">
      <nav class="navbar">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    </div>
    
    <div class="col-md">
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse">
        <div class="navbar-nav justify-content-end">
          <a class="nav-item nav-link" href="{{path('nosotros')}}">Nosotros</a>
          <a class="nav-item nav-link active" href="{{path('home')}}">Home</a>
          <a class="nav-item nav-link" href="{{path('pago_cliente_index')}}">Pagos</a>
          <a class="nav-item nav-link" href="{{path('transaccion_index')}}">Transacciones</a>
          <a class="nav-item nav-link" href="{{path('transaccion_index')}}">Inicio Sesion</a>
        </div>
      </div>
    </div>
    </nav
  </div>
</div>
<br>