<div class="navbar navbar-dark bg-dark text-white flex-row">
 
    <div class="col-sm">
      <nav class="navbar">
        <a href="{{path('home')}}">
          <img src="{{asset('img/logo.jpeg')}}" style="margin-left:25px" class="navbar-brand" width="90" height="60">
        </a>
      </nav>
    </div>


    <div class="col-md">
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse">
      

          {% if not is_granted("IS_AUTHENTICATED_FULLY")%}
            <a class="nav-item nav-link text-white" href="{{path('ayuda')}}"><img src="{{asset('img/cogs.png')}}">Ayuda</a> 
            <a class="nav-item nav-link text-white" href="{{path('nosotros')}}"><img src="{{asset('img/user-tie.png')}}">Nosotros</a>
            <a class="nav-item nav-link text-white active" href="{{path('home')}}"><img src="{{asset('img/home.png')}}">Home</a>
            <a class="nav-item nav-link text-white" href="{{path('fos_user_registration_register')}}"><img src="{{asset('img/floppy-disk.png')}}">Registro</a>
            <a class="nav-item nav-link text-white" href="{{path('fos_user_security_login')}}"><img src="{{asset('img/spinner9.png')}}">Login</a>   
          {% endif %}     


          {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            
            {% if is_granted("ROLE_ANFITRION") %}

              <span> 
                <a href="{{ path('fos_user_profile_show')}}">
                <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="{{ app.user.username }}" class="rounded-circle border border-secondary" width="40" height="40">
                </a>
              </span>
              <span>
                <a class="nav-item nav-link text-muted" href="{{ path('fos_user_profile_show')}}">Hola {{ app.user.username }}</a>
              </span>
              <span> <a class="nav-item nav-link text-muted"> | </a> </span>
              <span> 
                <a class="nav-item nav-link text-muted" href="{{ path('paquete_index')}}"> Paquetes </a>
              </span>
              <span> <a class="nav-item nav-link text-muted"> | </a> </span>
              <span> 
                <a class="nav-item nav-link text-muted" href="{{ path('mascota_index')}}"> Mascota </a>
              </span>
              <span> <a class="nav-item nav-link text-muted"> | </a> </span>
                                 
            {% elseif is_granted("ROLE_USER") %}
              
              <span> 
                <a href="{{ path('fos_user_profile_show')}}">
                <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="{{ app.user.username }}" class="rounded-circle border border-secondary" width="40" height="40">
                </a>
              </span>
              <span>
                <a class="nav-item nav-link text-muted" href="{{ path('fos_user_profile_show')}}">Hola {{ app.user.username }}</a>
              </span>
              <span> <a class="nav-item nav-link text-muted"> | </a> </span>
              <a class="nav-item nav-link text-muted" href="#"> Se Anfitrion</a> 
              <span> <a class="nav-item nav-link text-muted"> | </a> </span>
              <span> 
                <a class="nav-item nav-link text-muted" href="{{ path('mascota_index')}}"> Mascota </a>
              </span>
              <span> <a class="nav-item nav-link text-muted"> | </a> </span>
              
              

            {% endif %}
            
            <span> <a class="nav-item nav-link text-muted" href="{{ path('fos_user_security_logout') }}"> SALIR </a></span>
          
          {% endif %}
        </div>

      </div>

      

  

      
    </nav>


<div class="social ">

<ul>


<li><a href="http://www.facebook.com" class="icon-facebook"><img src="{{asset('img/facebook.png')}}" > 
</a> 

<a href="http://www.twitter.com" class="icon-facebook"><img src="{{asset('img/twitter.png')}}" > 
</a> <a href="http://www.youtube.com" class="icon-facebook2"><img src="{{asset('img/youtube.png')}}" > 
</a>
</li>

</ul>
</div>
</div>
