<div class="cover-container d-flex mx-auto flex-column" style="margin-top:17px; background-color: #FFF;">
  <div class="row navbar">
    <div class="col-sm">
      <nav class="navbar">
        <a href="{{path('home')}}">
          <img src="{{asset('img/logo.jpeg')}}" style="margin-left:25px" class="navbar-brand" width="90" height="60">
        </a>
      </nav>
    </div>
    <div class="col-sm">
      <nav class="navbar ">
        <form class="form-inline">
          <input class="form-control mr-sm-2 rounded-pill" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-secondary" my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    </div>
    
    <div class="col-md">
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse">
        <div class="navbar-nav justify-content-end">
          <a class="nav-item nav-link text-muted" href="{{path('ayuda')}}">Ayuda</a> 
          <a class="nav-item nav-link text-muted" href="{{path('nosotros')}}">Nosotros</a>
          <a class="nav-item nav-link text-muted active" href="{{path('home')}}">Home</a>
          <a class="nav-item nav-link text-muted" href="{{path('fos_user_registration_register')}}">Registro</a>
          <a class="nav-item nav-link text-muted" href="{{path('fos_user_security_login')}}">Login</a>          
        </div>
      </div>
    </div>
    </nav>
  </div>
</div>
<br>