{% extends 'base.html.twig' %}

{% block title %}Pagos{% endblock %}

{% block body %}
    {{ parent()}}
<div class="container">
    <h1 class="text-center">Pago Cliente</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>fecha de creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for pago_cliente in pago_clientes %}
            <tr>
                <td>{{ pago_cliente.id }}</td>
                <td>{{ pago_cliente.nombre }}</td>
                <td>{{ pago_cliente.apellido }}</td>
                <td>{{ pago_cliente.createAt ? pago_cliente.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('pago_cliente_show', {'id': pago_cliente.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('pago_cliente_edit', {'id': pago_cliente.id}) }}" class="btn btn-danger">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No existen registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('pago_cliente_new') }}" class="btn btn-info btn-lg">Ingresar nuevo</a>
</div>
{% endblock %}


