{% extends 'base.html.twig' %}

{% block title %}PETS{% endblock %}

{% block body %}
    {{ parent()}}

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="{{ asset('img/carousel/carusel1.jpg')}}" class="d-block w-100">
            </div>
            <div class="carousel-item active">
                <img src="{{ asset('img/carousel/carusel2.jpg')}}" class="d-block w-100">
            </div>
            <div class="carousel-item ">
                <img src="{{ asset('img/carousel/carusel3.jpg')}}" class="d-block w-100">
            </div>
        </div>
    </div>
    <div class="cover-container w-100 h-100 p-5">
        <main role="main" class="inner cover">
            <div>


<center>
                <h2 class="cover-heading">FÁCIL Y PERSONALIZADO</h2>
                <h2 class="cover-heading">Seleccionamos veterinarios, pet lovers y familias que aman los animales para cuidar a tu hijo peludo cuando lo necesites</h2>
                </center>
                <br>
                 <br>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <img src="{{asset('img/servicio/card1.jpg')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Regístrate. Revisa las publicaciones para afinar tu búsqueda del anfitrión ideal para tu mascota</h5>
                            <p class="card-text"></p>
                            
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <img src="{{asset('img/servicio/card2.jpg')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Puedes pagar online con tarjeta de crédito, débito o con depósito o transferencia a la cuenta de Petssiter</h5>
                            <p class="card-text"></p>
                         
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <img src="{{asset('img/servicio/card3.jpg')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Elige los días en los que necesitas el servicio. Contacta a tu anfitrión y confirma tus necesidades.</h5>
                            <p class="card-text"></p>
                           
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <img src="{{asset('img/servicio/card4.jpg')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Llena el Formulario de Hospedaje. Comunícate con el anfitrión y quedate tranquilo por tu mascota. Petsitter te respalda! </h5>
                            <p class="card-text"></p>
                            
                        </div>
                        </div>
                    </div>
                </div>



                <br>
            </div>
            <p class="lead">
                Los paquetes están sujetas a cambios. Algunas paquetes podrían no estar disponibles en todas las regiones o en todos los idiomas.
            </p>
        </main>
    </div>

            {{ include('buy_card.html.twig')}}     

{% endblock %}

