{% extends 'base.html.twig' %}

{% block title %}Transaccion index{% endblock %}

{% block body %}
    {{ parent()}}
<div class="container">
    <h1>Transaccion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Producto</th>
                <th>Monto</th>
                <th>Divisa</th>
                <th>Estado</th>
                <th>Create_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transaccion in transaccions %}
            <tr>
                <td>{{ transaccion.id }}</td>
                <td>{{ transaccion.producto }}</td>
                <td>{{ transaccion.monto }}</td>
                <td>{{ transaccion.divisa }}</td>
                <td>{{ transaccion.estado }}</td>
                <td>{{ transaccion.createAt ? transaccion.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('transaccion_show', {'id': transaccion.id}) }}">show</a>
                    <a href="{{ path('transaccion_edit', {'id': transaccion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('transaccion_new') }}">Create new</a>
</div>
{% endblock %}
